@import 'bootstrap/';

body {
    font-size: 14px;
}

.text-medium {
    color: rgb(100, 100, 100);
}

.bg-dark {
    background-color: rgb(205, 205, 205) !important;
}
.bg-medium {
    background-color: rgb(234, 234, 234) !important;
}
.bg-light {
    background-color: rgb(244, 244, 244) !important;
}
